@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;500;600;700&family=Blinker:wght@400;600;700&family=Figtree:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap');

:root {
  --font-family-figtree: 'Figtree', sans-serif;
  --font-family-inter: 'Inter', sans-serif;
  --font-family-alexandria: 'Alexandria', sans-serif;
  --font-family-blinker: 'Blinker', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: var(--font-family-figtree);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
